{% extends 'base.html' %}

{% block content %}

    <div class="flex flex-col justify-center items-center">

        <h1 class="text-2xl p-4 font-semibold text-gray-700 dark:text-white">Update Snack</h1>

        <form class="bg-white p-4 rounded-md w-3/4 max-w-md" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flex flex-col justify-center items-center">
                <input type="submit" value="UPDATE" class="px-3 py-2 p-3 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            </div>
        </form>
    </div>

{% endblock content %}
